@use '../../scss/variables' as *;

input {
    border: 0;
    background-color: 0.5 rem 1.5 rem;
    font-size: 1rem;
    border-radius: $border-radius;
    color:$txt-color;
    font-family: $font-family;
}